// 
// Custom declarations

.reveal pre code {
    font-size: 0.8em;
    line-height: 1em;
}

img.img--no-border {
    border: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
    width: 70% !important;
    max-height: 95% !important;
}

img.sfl-logo {
    width: 40% !important;
    margin: 0 auto 60px auto !important;
}

img.react-logo {
    animation: rotation 40s linear;
    width: 30% !important;
}

.slide-background--es6 {
    background: yellow;
}

@keyframes rotation {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(-360deg) }
}

.slide--es6 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    li {
        color: #303336 !important;
    }
}